<p id="notice"><%= notice %></p>

<h1>My Rsas</h1>

<table>
  <thead>
    <tr>
      <th>N</th>
      <th>D</th>
      <th>E</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_rsas.each do |my_rsa| %>
      <tr>
        <td><%= my_rsa.n %></td>
        <td><%= my_rsa.d %></td>
        <td><%= my_rsa.e %></td>
        <td><%= link_to 'Show', my_rsa %></td>
        <td><%= link_to 'Edit', edit_my_rsa_path(my_rsa) %></td>
        <td><%= link_to 'Destroy', my_rsa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My Rsa', new_my_rsa_path %>
